<!doctype html>
<html>
<head>
  <title>SUS 103 Game</title>
  <link rel="stylesheet" href="static/style/style.css"> 

</head>
<body class="game-body">
  {% include 'navBar.html' %}
  <div class="game-box">
    <!-- Game intro page that tells how to play -->
    <h1>Game Play</h1>
    <p>Match each image shown with the question it addresses.<br>
      Use the hint buttons if you need a clue.<br>
    </p>
    <form action ="/game" method="GET">
      <input type="submit" value="Ready to play!"/>
    </form>
    <br>

</body>
</html>
