 body {
  color: white; 
  font-family: Avant Garde,Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif; 
  text-align: center;
}

.home-body {
  background-image: url(../img/home_bg.jpg);
  background-size: cover;
  
}

.home-box {
  background: #ADD8E6;
  width: auto; 
  padding: 20px; 
  margin-top: 250px;

}

.study-body {
  background-image: url(../img/study_bg.jpg);
  background-size: cover;
  
}

.study-box {
  background: #ADD8E6;
  width: auto; 
  padding: 20px; 
  margin-top: 250px;

}

.admin-body {
  background-image: url(../img/admin_bg.jpg);
  background-size: cover;
  
}

.admin-box {
  background: #ADD8E6;
  width: auto; 
  padding: 20px; 
  margin-top: 250px;

}

.game-body {
  background-image: url(../img/game_bg.jpg);
  background-size: cover;
  
}

.game-box {
  background: #ADD8E6;
  width: auto; 
  padding: 20px; 
  margin-top: 250px;

}

p { 
  line-height: 1.4;

}

header {
  background: #073842;
}

nav {
  float: center; 
}

nav ul {
  margin: 0; 
  padding: 0; 
  list-style: none;
} 

nav li {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;

}

nav ul > li > a {
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
 
}

nav a:hover {
  color:#ADD8E6
}

/* Kristin skeletno additions for game */
#game-buttons {
  margin: 0 15px;
}

.game {
  display: inline-block;
  margin: 15px;
  width: 175px;
  height: 175px;
  white-space: normal;
  box-shadow: 2px 2px 4px gray;
  font-size: 1.5em;
  vertical-align: middle;
}

#hint {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}
