<!doctype html>
<html>
  
  <head>
    <title>SUS 103 Midterm/Final Study Site</title>
    <link rel="stylesheet" href="static/style/style.css"> 
  </head>

  <body class="admin-body">
    {% include 'navBar.html' %}
    <div class="admin-box"> 
      <h1>Admin Page</h1>
        <form action ="addq">
          <input type="submit" value="Add Question"/>
        </form>
      <br>
        <form action ="editq">
          <input type="submit" value="Edit Question"/>
        </form>
      <br>
        <form action ="deleteq">
          <input type="submit" value="Delete Question"/>
        </form>
    </div> 
    <footer>
      <p>Background image from Ivan Bandura via Unsplash</p>
      <p><a href="https://unsplash.com/photos/PV8D2xTjdVo">https://unsplash.com/photos/PV8D2xTjdVo</a></p>
    </footer>  
  </body>

</html>