<!doctype html>
<html>
  <head>
    <title>SUS 103 Study Site</title>
    <link rel="stylesheet" href="static/style/style.css"> 
  </head>

  <body class="admin-body">
    {% include 'navBar.html' %}
    <div class="admin-box"> 

      <!-- Form for deleting a question from the database -->
      <h1>Choose a question to delete</h1>
      <form action="/delete" method ="POST">
        <div style='text-align: left; display: inline-block; width:fit-content; word-wrap: normal;'>
        {% for question in q_list%}
        <label>
        <input type="radio" name="question" id='{{question}}' value='{{question}}' required/>{{ question }}<br><br>
        </label>
        {% endfor %}
      </div>
      <br>
        <!-- Confirm user wants to delete question before submitting form -->
        <input type="submit" style="text-align: center; display: inline-block;" class="sbtn"
        onclick="return confirm('Are you sure you want to delete this question?')" value="Submit"/>
      </form>

      <!-- Option to cancel and return to Admin homepage -->
      <br><form action="/admin">
        <input type="submit" value="Cancel" class="sbtn">
      </form>
    </div> 

    <footer>
      <p>Background image from Ivan Bandura via Unsplash</p>
      <p><a href="https://unsplash.com/photos/PV8D2xTjdVo" target="_blank">https://unsplash.com/photos/PV8D2xTjdVo</a></p>
    </footer>  
  </body>
</html>