<!doctype html>
<html>
  <head>
    <title>SUS 103 Study Site</title>
    <link rel="stylesheet" href="static/style/style.css"> 
  </head>

  <body class="admin-body">
    {% include 'navBar.html' %}
    <div class="admin-box"> 

    <!-- Form for selecing which question to edit in the database -->
    <h1>Pick a question to edit</h1>
    <form action="/edit_choice" method ="POST" autocomplete="OFF">
      <div style='text-align: left; display: inline-block; width:fit-content; word-wrap: normal;'>
      {% for question in q_list%}
      <label>
      <input type="radio" name="question_to_edit" id='question_to_edit' value='{{question}}' required/>{{ question }}<br><br>
      </label>
      {% endfor %}
    </div>
    <br>
      <input type="submit" value="Submit" style="text-align: center; display: inline-block;">

      </form>

      <!-- Option to cancel and return to Admin homepage -->
      <br><form action="/admin">
        <input type="submit" value="Cancel">
      </form>

    </div> 
    <footer>
      <p>Background image from Ivan Bandura via Unsplash</p>
      <p><a href="https://unsplash.com/photos/PV8D2xTjdVo" target="_blank">https://unsplash.com/photos/PV8D2xTjdVo</a></p>
    </footer>  
  </body>
  </html>