<!doctype html>
<html>
  <head>
    <title>SUS 103 Study Site</title>
    <link rel="stylesheet" href="static/style/style.css"> 
  </head>
  
  <body class="admin-body">
    {% include 'navBar.html' %}
    <div class="admin-box"> 
      <h1>Introduction to Climate Change</h1>
      <h2>Pick a question to edit</h2>
      <form action="/edit" method ="POST" autocomplete="OFF">
        {% for question in q_list%}
        <input type="radio" name="question_to_edit" id='question_to_edit' value='{{question}}' required/>{{ question }}<br><br>
        {% endfor %}
        <h2>Enter the values you would like to edit.</h2>
        <label for="question">Question Text (Format: "Is the sun hot?")</label><br>
        <input type="text" id="question" name="question" required><br><br>

        <label for="choices">Choices Text (Format: "choice1,choice2,choice3")</label><br>
        <input type="text" id="choices" name="choices" required><br><br>

        <label for="answer">Answer (Format: "A" [One character only, true or false == T or F])</label><br>
        <input type="text" id="answer" name="answer" required><br><br>

        <label for="week">Week (Format: "week1", "week2", "midterm", "final", etc.)</label><br>
        <input type="text" id="week" name="week" required><br><br>

        <label for="image">Hint Image File Name (Format: "file1.jpg,file2.jpg")</label><br>
        <input type="text" id="image" name="image"><br><br>
        
        <input type="submit" value="Submit">

      </form>
    </div> 
    <footer>
      <p>Background image from Ivan Bandura via Unsplash</p>
      <p><a href="https://unsplash.com/photos/PV8D2xTjdVo" target="_blank">https://unsplash.com/photos/PV8D2xTjdVo</a></p>
    </footer>  
  </body>
</html>