<!doctype html>
<html>
<head>
  <title>SUS 103 Game</title>
  <link rel="stylesheet" href="static/style/style.css"> 

  <!-- To hide hint until user clicks hint button -->
  <style>
    #hint {display: none;}
  </style>

</head>
<body class="game-body">
  {% include 'navBar.html' %}

  <div class="game-box">
    <h1>Introduction to Climate Change</h1>
    
    <!-- Show score -->
    {% if result %}
      <p>Score: {{ score }}/{{ questions }}</p>
    {% else %}
      <h4>Click on the question that the image below addresses</h4>
    {% endif %}

    <!-- Show result text -->
    {% if result[0] == "i" %}
      <p style="color: red;">{{ answer }} is {{ result }} </p>
    {% elif result[0] == "c" %}
      <p style="color: green;">{{ answer }} is {{ result }} </p>
      <img src="/static/img/game/{{last}}" alt="Previous image" width="10%"><br>
      <h4>Click on the question that the image below addresses</h4>
    {% endif %}

    <!-- display the question category buttons -->
    <div id="game-buttons">
      <form method="POST" action="/game">
        {% include 'game_categories.html' %}
      </form>
  </div> 

    <!-- display image and hint button -->
    <img src="/static/img/game/{{image}}" alt="Game image" width="40%"><br><br>
    <button id="btn" onclick="showHint()">Show hint</button>
    <p id="hint">{{hint}}</p>

    <!-- show hint when the hint button is clicked -->
    <script>
        function showHint() {
            var image = document.getElementById('hint');
            var button = document.getElementById('btn');
            image.style.display = "block";
            button.style.display = "none"
        }
    </script>
</body>
</html>
