<!doctype html>
<html>
<head>
  <title>SUS 103 Study Site</title>
  <link rel="stylesheet" href="static/style/style.css"> 
  
  <!-- To hide hint until user clicks hint button -->
  <style>
    #hint {display: none;}
  </style>
</head>

<body class="game-body">
  {% include 'navBar.html' %}

  <div class="game-box">    
    <!-- Show score -->
    {% if result %}
      <p id="score">Score: {{ score }}/{{ questions }}</p>
    {% else %}
      <p>Click on the question category that the image below addresses</p>
    {% endif %}

    <!-- Show result text -->
    {% if result[0] == "i" %}
      <p style="color: orangered;">{{ answer }} is {{ result }} </p>
    {% elif result[0] == "C" %}
      <p style="color: lightgreen;">{{ result }} </p>
      Click on the question category that the image below addresses</p>
    {% endif %}

    <!-- display the question category buttons -->
    <div id="game-buttons">
      <form method="POST" action="/game">
        {% include 'game_categories.html' %}
      </form>
      <br>
    </div> 
  
    <!-- display image and hint button -->
    <img src="/static/img/game/{{image}}" alt="Game image" width="40%"><br><br>
    <button id="btn" onclick="showHint()">Show hint</button>
    <p id="hint">{{hint}}</p>
    <br>

    <!-- show hint when the hint button is clicked -->
    <script>
        function showHint() {
            var image = document.getElementById('hint');
            var button = document.getElementById('btn');
            image.style.display = "block";
            button.style.display = "none"
        }
    </script>
  </div>

  <footer>
    <p>Background image from the United States Geological Survey</p>
    <p><a href="https://unsplash.com/photos/3F2YdXjJMCI" target="_blank">https://unsplash.com/photos/3F2YdXjJMCI</a></p>
  </footer>
</body>

</html>