<h2>How do we know:</h2>
<button type="submit" name="category" class="game" value="question 1">1&#41; The globe is warming?</button>
<button type="submit" name="category" class="game" value="question 2">2&#41; Greenhouse gases warm the air?</button>
<button type="submit" name="category" class="game" value="question 3">3&#41; Warming is not from the Sun?</button>
<button type="submit" name="category" class="game" value="question 4">4&#41; CO2 is not from volcanoes?</button>
<button type="submit" name="category" class="game" value="question 5">5&#41; CO2 is from humans?</button>
<button type="submit" name="category" class="game" value="question 6">6&#41; Climate change is not just natural variability?</button>
<button type="submit" name="category" class="game" value="question 7">7&#41; Warming / climate change matters?</button>