<!doctype html>
<html>
<head>
  <title>SUS 103 Study Site</title>
  <link rel="stylesheet" href="static/style/style.css"> 
</head>

<body class="game-body">
  {% include 'navBar.html' %}
  <div class="game-box">

    <!-- Game intro page that tells how to play -->
    <h1>Game Play</h1>
    <h2>Match each image shown with the question it addresses.<br>
      Use the hint buttons if you need a clue.<br>
    </h2>

    <!-- User can either play game or review the answers for the question categories -->
    <form action ="/game" method="GET">
      <input type="submit" value="Ready to play!" class="btn"/>
    </form>
    <br>
    <form action ="/review" method="GET">
      <input type="submit" value="Review categories" class="btn"/>
    </form>
    <br>
  </div> 

  <footer>
    <p>Background image from the United States Geological Survey</p>
    <p><a href="https://unsplash.com/photos/3F2YdXjJMCI" target="_blank">https://unsplash.com/photos/3F2YdXjJMCI</a></p>
  </footer>
</body>
</html>

