<!doctype html>
<html>
<head>
  <title>SUS 101 Midterm/Final Study Site</title>
  <h1>SUS 101 Midterm/Final Study Site</h1>
  <h2>Index</h2>
</head>
<body>
  <p>Click here if you want to study solo for the midterm</p>
  <form action ="solo">
      <input type="submit" value="Solo Study"/>
  </form>

  <p>Click here if you want to play the game with the class</p>
  <form action ="game">
    <input type="submit" value="Class Game"/>
  </form>

  <p>Click here if you want to study solo for the midterm</p>
  <form action ="admin">
      <input type="submit" value="Admin Login"/>
  </form>

</body>
</html>