<!doctype html>
<html>
<head>
  <title>SUS 103 Study Site</title>
  <link rel="stylesheet" href="static/style/style.css"> 
  <!-- hide image hints until button is clicked -->
  <style>
    .hint_image {display: none;}
  </style>
</head>

<body class="study-body">
  {% include 'navBar.html' %}
  <div class="study-box"> 
    
    <!-- show question and answer choices -->
    <h2>{{ question['question'] }}</h2>
    <form action='/quiz' method='POST'>
      <div style='text-align: left; display: inline-block;'>
        {% for choice in question['choices'] %}
        <label>
        <p class="choice"><input type="radio" name="options" id='{{choice}}' value='{{choice}}' required/> {{ choice }}</p>
        </label>
        {% endfor %}
        </div>
      <br>
      <input type="submit" value="Submit" style="text-align: center; display: inline-block;" class="sbtn"/>
    </form>
    <br>

    <!-- Image hint buttons/images -->
    {% for hint in question['image'] %}
    <button id="btn{{hint}}" onclick="showImage('{{hint}}')" class="hbtn">Show hint</button>
    <img id="{{hint}}" class="hint_image" src="/static/img/quiz/{{hint}}" alt="Image" width="25%" >
    {% endfor %}

    <!-- function to display image hints -->
    <script>
      function showImage(imageId) {
        var image = document.getElementById(imageId);
        var button = document.getElementById("btn" + imageId)
        image.style.display = "flex";
        image.style.margin = "0 auto";
        button.style.display = "none";
      }
    </script>
  </div>

  <footer>
    <p>Background image from Ivan Bandura via Unsplash</p>
    <p><a href="https://unsplash.com/photos/fKFIgyxGqgg" target="_blank">https://unsplash.com/photos/fKFIgyxGqgg</a></p>
  </footer>  
</body>
</html>