<!doctype html>
<html>
<head>
  <title>SUS 103 Study Site</title>
  <link rel="stylesheet" href="static/style/style.css"> 
</head>

<body class="study-body">
  {% include 'navBar.html' %}
  <div class="study-box">

    <!-- Landing page for taking the study quiz -->
    <h1>Practice Quiz</h1>
    <h2>Test your knowledge through a series of multiple choice questions.<br>
      Use the hint buttons if you need a clue.<br>
    </h2>
    <form action ="/quiz" method="GET">
        <input type="submit" value="Take the quiz!" class="btn"/>
    </form>
    <br>

  </div>
  <footer>
    <p>Background image from Ivan Bandura via Unsplash</p>
    <p><a href="https://unsplash.com/photos/fKFIgyxGqgg" target="_blank">https://unsplash.com/photos/fKFIgyxGqgg</a></p>
  </footer> 
</body>
</html>