<!doctype html>
<html>
<head>

  <!-- hide image until hint button is clicked -->
  <style>
    .image {display: none;}
  </style>

  <title>SUS 103 Midterm/Final Study Site</title>
  <link rel="stylesheet" href="static/style/style.css"> 

</head>
<body class="study-body">
  {% include 'navBar.html' %}
  <div class="study-box">
    <h1>Introduction to Climate Change</h1>
    <h2>Practice Quiz!</h2>

    <!-- show question and answer choices -->
    <p>{{question}}</p>
    <form action='/result' method='POST'>
        {% for choice in choices%}
            <input type="radio" name="options" id='{{choice}}' value='{{choice}}' required/> {{ choice }}<br>
        {% endfor %}
      <br>
      <input type="submit" value="submit" />
    </form>
    <br>

    {% for hint in hints %}
      <button id="btn{{hint}}" onclick="showImage('{{hint}}')">Show hint</button>
      <img id="{{hint}}" class="image" src="/static/img/{{hint}}" alt="Image" width="20%">
    {% endfor %}

    <!-- function to display image hints -->
    <script>
      function showImage(imageId) {
        var image = document.getElementById(imageId);
        var button = document.getElementById("btn" + imageId)
        image.style.display = "block";
        button.style.display = "none";
      }
    </script>
  </div>  
</body>
</html>