<!doctype html>
<html>
<head>
  <title>SUS 101 Midterm/Final Study Site</title>
  <h1>SUS 101 Midterm/Final Study Site</h1>
  <h2>Practice Test!</h2>
</head>
<body>
  <p>{{question}}<p>
    <p></p>
    <form action='/result' method='POST'>
        {% for choice in choices%}
            <input type="radio" name="options" id='{{choice}}' value='{{choice}}' required/> {{ choice }}<br>
        {% endfor %}
    
      <input type="submit" value="submit" />
    </form>
      <p></p>
</body>
</html>